# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

#
# Source: https://github.com/JetBrains/kotlin-wrappers/blob/master/.editorconfig
# Kotlin Docs: https://www.jetbrains.com/help/idea/editorconfig.html
#

root = true

[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 4
indent_style             = space
insert_final_newline     = true
max_line_length          = 120
tab_width                = 4
trim_trailing_whitespace = true


[{*.kt,*.kts}]
# ktlint_code_style = ktlint_official
# TODO: figure out how to get intellij to recognize these properties?
ktlint_standard                                     = enabled
ktlint_standard_comment-spacing                     = disabled
ktlint_standard_chain-wrapping                      = disabled
ktlint_standard_comma-spacing                       = disabled
ktlint_standard_blank-line-before-declaration       = disabled
ktlint_standard_annotation-spacing                  = disabled
ktlint_standard_blank-line-before-declaration       = disabled
ktlint_standard_keyword-spacing                     = disabled
ktlint_standard_trailing-comma-on-call-site         = disabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_property-wrapping = disabled
ktlint_standard_no-consecutive-blank-lines = disabled


[.editorconfig]
ij_editorconfig_align_group_field_declarations     = true
ij_editorconfig_space_after_colon                  = true
ij_editorconfig_space_after_comma                  = true
ij_editorconfig_space_before_colon                 = true
ij_editorconfig_space_before_comma                 = true
ij_editorconfig_spaces_around_assignment_operators = true
